{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "jsx-a11y", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": "*.config.ts",
  "rules": {
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/require-default-props": [0],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "react/state-in-constructor": [0],
    "@typescript-eslint/default-param-last": [0],
    "consistent-return": [0],
    "arrow-body-style": [0],
    "import/no-unresolved": [0],
    "import/prefer-default-export": [0],
    "import/extensions": [
      1,
      "never",
      {
        "svg": "always",
        "json": "always",
        "less": "always",
        "png": "always"
      }
    ]
  }
}
